$icon-content-create: "\e609";
$icon-content-sort: "\e60a";
$icon-content-sort-2: "\e620";
$icon-content-filter: "\e60b";
$icon-content-filter-2: "\e61e";
$icon-content-fullscreen: "\e60c";
$icon-content-fullscreen-exit: "\e60d";
$icon-content-unfold-more: "\e60e";
$icon-content-unfold-less: "\e60f";
$icon-content-more-vert: "\e610";
$icon-content-more-horiz: "\e611";
$icon-content-down-arrow: "\e612";
$icon-content-up-arrow: "\e613";
$icon-content-close: "\e615";
$icon-content-right-arrow: "\e616";
$icon-content-left-arrow: "\e617";
$icon-content-check: "\e618";
$icon-content-arrow-down: "\e900";
$icon-content-arrow-up: "\e901";
$icon-content-arrow-forward: "\e619";
$icon-content-arrow-back: "\e61c";
$icon-content-caret-up: "\e61a";
$icon-content-caret-down: "\e61b";
$icon-content-apps: "\e61d";
$icon-content-refresh: "\e607";
$icon-content-refresh-2: "\e608";
$icon-content-remove-circle-outline: "\e600";
$icon-content-remove-circle: "\e601";
$icon-content-remove: "\e602";
$icon-content-add-circle-outline: "\e606";
$icon-content-add-circle: "\e603";
$icon-content-add: "\e605";
$icon-content-search: "\e61f";
$icon-content-menu: "\e614";
$icon-content-toggle: "\e902";
