$Content-Icons: (
        create: "\e609",
        sort: "\e60a",
        sort-2: "\e620",
        filter: "\e60b",
        filter-2: "\e61e",
        fullscreen: "\e60c",
        fullscreen-exit: "\e60d",
        unfold-more: "\e60e",
        unfold-less: "\e60f",
        more-vert: "\e610",
        more-horiz: "\e611",
        down-arrow: "\e612",
        up-arrow: "\e613",
        close: "\e615",
        right-arrow: "\e616",
        left-arrow: "\e617",
        check: "\e618",
        arrow-down: "\e900",
        arrow-up: "\e901",
        arrow-forward: "\e619",
        arrow-back: "\e61c",
        caret-up: "\e61a",
        caret-down: "\e61b",
        apps: "\e61d",
        refresh: "\e607",
        refresh-2: "\e608",
        remove-circle-outline: "\e600",
        remove-circle: "\e601",
        remove: "\e602",
        add-circle-outline: "\e606",
        add-circle: "\e603",
        add: "\e605",
        search: "\e61f",
        menu: "\e614",
        toggle: "\e902",
);